.error-herro{
    background-position: center center !important;
    margin-bottom: 5rem;
    @media(min-width:576px){
        padding: 19.5rem 0 !important;
    }
    
    a{
        padding: 1.5rem 2.6rem; 
        margin-top:5.9rem;
    }
}

