$body-font: $lato;

img{
    max-width: 100%;
}
body{
    line-height: 2.6rem;
    font-weight: 300;
    font-family: $body-font;
}

h1, .h1{
    line-height: 6.8rem;
    font-family: $playfair-display;
}

h2, .h2{
    line-height: 4.6rem;
    letter-spacing: 0.3rem;
    font-family: $playfair-display;
}

h3, .h3{
    line-height: 4.6rem;
    font-weight: 400;
}

h4, .h4{
    line-height: 2.4rem;
}
