.blog-section{
    padding: 7.6rem 0 15.6rem !important;
    .blog-items{
        margin-bottom: 9.3rem;
    }
    nav{
        ul{
            li{
                &:first-of-type,
                    &:last-of-type{
                    a{
                        font-weight: 500;
                        color: #212121;
                    }
                }
                margin-right: 2.5rem;
                &:last-of-type{
                    margin-right: 0;
                }
                a{
                    text-decoration: none;
                    color: #000;
                    border: none;
                    font-weight: 300;
                    font-size: 2rem;
                    line-height: 4.6rem;
                    &.bold{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

