$dot-color:rgba(208, 182, 182, 0.4);
$dot-color-active:rgba(208, 182, 182, 1);
.team-section{
    padding-bottom: 10.4rem;
    .team-title{
        margin-bottom: 2.8rem;
    }

    .separator{
        margin-bottom: 4.7rem;
    }
    .team-member{
        @media(min-width:992px){
            padding: 8.7rem 0 !important; 
        }
        border: 2px solid $dark-pink;
    }
    .team-image{
        img{
            display: block;
            width: 100%;
        }
    }
    .team-item{
        .team-item-name{
            margin-bottom: 1.7rem;
        }
    }

    .owl-dots{
        display: flex;
        justify-content: start;
        
        .owl-dot{
            flex: 0 0 18.4px;
            height: 6px;
            width: 18.4px;
            border-radius: 0%;
            margin-right: 18.4px;
            span{
                background-color: $dot-color !important;
                width: 18.4px !important;
                height: 6px;
                border-radius: 0%;
                margin: 0 !important;
                
            }
            &.active span{
                background-color: $dot-color-active !important;
            }
        }
    }
}

