$span-color: $dark-pink;

.trends-section{
    padding: 6.7rem 0 9.7rem !important;
    .trends-title{
        margin-bottom: 2.8rem;
    }
    .trends-line{
        width: 9.5rem;
        height: 2px;
        background-color: $span-color;
        display: block;
        margin-bottom: 4.1rem;
    }
    .trend-item{
        margin-bottom: 10rem;
        
        .trend-item-image{
            overflow: hidden;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
            img{
                display: block;
                width: 100%;
                transition: 0.3s linear;
            }
        }
        
        .trend-item-data{
            min-height: 15.4rem;
            width: 85%;
            background-color: #FFF;
            padding: 6px 25px 30px;
            transform: translateY(-50%);
            left:7.5%;
            .trend-item-data-date{
                font-family: $playfair-display;
                font-size: 1.4rem;
                line-height: 4.6rem;
                font-weight: 500;
                letter-spacing: 10% !important;
            }
            .trend-item-data-title{
                letter-spacing: 0.1rem;
                margin-bottom: 0 !important;
            }
        }
    }
    .last-item{
        margin-bottom: 0 !important;
    }
}

